.container
{
    width: 50vw;
    margin: 50px auto;
    background-color: #FFD6BA;
    -webkit-box-shadow: -5px 5px 0px 1px rgba(0, 0, 0, 0.250);
    box-shadow: -5px 5px 0px 3px rgba(0, 0, 0, 0.250);
}
    h1 
{
    text-align: center;
    margin: 30px 0;
}

.form{  
    display: flex;
    flex-direction: column;
    
}

.name{
    margin: 25px auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 90%;
    height: 40px;
}
    
input[type="text"]{
    width: 40%;
    margin: 0 20px 0 0;
    padding: 15px;
    font-style: italic;    
    border: 2px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: #FFD6BA;
}

    label[for="firstName"]{
        position: absolute;
        top: -30px;
        left: 0;
    }

    label[for="lastName"]{
        position: absolute;
        top: -30px;
        right: 190px;
    }
    

.email{
    width: 50%;
    margin: 0 0 20px 35px;
    height: 40px;
    padding: 15px;
    font-style: italic;
    border: 2px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: #FFD6BA;

}

label:not(#nameLabel){
    margin-left: 35px ;
    margin-bottom: 10px;
}

.message{
    width: 80%;
    margin: 0 35px;
    height: 100px;
    padding: 15px;
    font-style: italic;
    border: 2px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: #FFD6BA;
}

.send{
    width: 100px;
    margin: 30px 35px;
    height: 40px;
    border: none;
    background: #434753;
    color: #FFD6BA;
    cursor: pointer;
}